target/
!.mvn/wrapper/maven-wrapper.jar

.mvn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Compiled class file
*.class

# Log file
*.log
log
logs

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


java/target/
!.mvn/wrapper/maven-wrapper.jar

java/.mvn

### STS ###
java/.apt_generated
java/.classpath
java/.factorypath
java/.project
java/.settings
java/.springBeans

### IntelliJ IDEA ###
java/.idea
java/*.iws
java/*.iml
java/*.ipr

### NetBeans ###
java/nbproject/private/
java/build/
java/nbbuild/
java/dist/
java/nbdist/
java/.nb-gradle/

# Compiled class file
java/*.class

# Log file
java/*.log
java/log
java/logs

# BlueJ files
java/*.ctxt

# Mobile Tools for Java (J2ME)
java/.mtj.tmp/

# Package Files #
java/*.jar
java/*.war
java/*.ear
java/*.zip
java/*.tar.gz
java/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
java/hs_err_pid*
